<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="col-sm-12">
      <ul class="nav navbar-nav">

        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">Home</a>
        </li>

        <!--<li role="presentation" routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>-->

      </ul>
    </div>

  </div>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
</div>
